body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  margin: 15px;
}

header,
h1,
input,
div .logo-image,
div .today .temp,
.container {
  margin: auto;
}

header,
footer,
div .weekly-forecast {
  text-align: center;
}

header {
  padding: 0 0 10px 0;
}

h1 {
  font-size: 60px;
  max-width: 400px;
  padding-bottom: 25px;
}

h2 {
  font-size: 45px;
  padding: 18px 18px 0px 18px;
}

ul {
  list-style: none;
}

footer {
  color: #123557;
  font-size: small;
  padding: 20px;
}

div .today-weather {
  margin: auto;
  text-align: center;
  width: 45%;
}

div .today .temp {
  width: 55%;
}

h3 {
  font-size: 20px;
}

.container {
  border-radius: 10px;
  max-width: 750px;
  padding: 30px;
}

.eye {
  max-width: 92%;
}

.sky {
  font-size: 95px;
}

.form-control {
  border: 0;
  border-radius: 3px;
  font-size: 17px;
  padding: 6px 6px 4px 9px;
  width: 75%;
}
.today {
  color: #212529;
}
.today-weather-elements {
  color: #6e88a1;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

#description {
  text-transform: capitalize;
}

#date {
  color: gray;
  font-size: 12px;
  float: right;
}

.units {
  font-size: 20px;
  position: relative;
  text-decoration: none;
  top: -19.5px;
}

.future-weather-icons {
  padding: 30px;
}

.card-text {
  color: #212529;
  font-size: 20px;
}

#forecast-min {
  color: #6e88a1;
}
