body {
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  margin: 15px;
}

header,
h1,
input,
div .logo-image,
div .today .temp,
.container {
  margin: auto;
}

header,
footer,
div .weekly-forecast {
  text-align: center;
}

header {
  padding: 0 0 10px 0;
}

h1 {
  font-size: 75px;
  max-width: 450px;
  padding-bottom: 25px;
}

button {
  border: 0;
  border-radius: 3px;
  background-color: #6e88a1;
  box-shadow: 2px 5px 5px #92a4b5;
  color: white;
  margin: 10px;
  padding: 5px 10px;
}

h2 {
  font-size: 50px;
  padding: 18px 18px 0px 18px;
}

h3 {
  font-size: 20px;
}

footer {
  color: #445566;
  font-size: small;
  padding: 20px;
}

div .today-weather {
  width: 45%;
  margin: auto;
  text-align: center;
}

div .today .temp {
  width: 55%;
}

ul {
  list-style: none;
}

.container {
  border-radius: 10px;
  padding: 30px;
  max-width: 750px;
}

.eye {
  max-width: 100%;
}

.sky {
  font-size: 115px;
}

.form-control {
  border: 0;
  border-radius: 3px;
  font-size: 17px;
  padding: 6px 6px 4px 9px;
  width: 75%;
}

.today-weather-elements {
  font-size: 20px;
  padding: 10px 0px 0px 0px;
}

#description {
  text-transform: capitalize;
}

#date {
  color: gray;
  font-size: 15px;
  float: right;
}

.units {
  font-size: 15px;
  position: relative;
  top: -19.5px;
}

.future-weather-icons {
  padding: 30px;
}
.card-text {
  font-size: 27px;
  color: #212529;
}

.conversion {
  font-size: small;
}
